body{
	font-family: "PT Sans",sans-serif; 
	background-color: #252529;
	margin: 0;      /*distance between line and page*/
	color: #ccc;    /*text colour*/
	line-height: 1.6;   /*distance between two lines*/
}
a{
	text-decoration: none;  /*to remove lines of lines*/
	color: #ccc; /*colour to links*/

}
#showcase{
	margin: 0;
	padding: 0;
	background: url(IMG-20210514-WA0006.jpg) no-repeat center/cover;
	width: 100%;
	height: 100vh; /*viewport height*/
	position: relative;
	overflow-y: hidden;  /*extra black background is hided*/

}
#showcase .container{
	margin-top: 25vh;
}
#showcase h1{
	font-size: 4rem;  /*root elements font size*/
	margin-bottom: 0;
}
#showcase h2{
	font-size: 2rem;
}
nav{
	height: 40px;
	width: 100%;
	background-color: #333;
	color: rgb(51,34,34);
	position: fixed;   /*navigation bar fixed*/
}
nav ul{
	margin: 0;
	padding: 0;
}
nav li{
	display: inline;
	float: left;  /*text in left*/
}
nav a{
	display: inline-block;   /*all tags in block*/
	width: 100px;   /*distance between blocks*/
	text-align: center;
	text-decoration: none;
	padding: 10px 0;   /*top bottom /left right*/
	color: #eee;
}
nav li:hover{
	background-color: #444;
}
.container{
	max-width: 1180px;
	text-align: center; 
	margin:0 auto;
	padding: 0 3rem;
}
.lead{
	font-size: 1.3rem;
}
footer .footer-cols{
	display: grid;     /*rows and columns*/
	grid-gap: 20px;
	grid-template-columns: repeat(4,1fr);  /*fractional unit*/
	padding: 2rem;
	text-align: left;
	font-size: 14px;
}
footer .footer-cols ul{
	list-style: none;  /*bullet gone dots*/

}
footer .footer-cols ul li:first-child{
	font-size: 1.2rem;
	padding-bottom: 0.5rem;
	border-bottom: #444 solid 2px;
	margin-bottom: 1rem;
}
footer .footer-bottom{
	text-align: center;
	background-color: #333;
	padding:1rem;
	
}
